<h1>Post</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>
      <th>
        Rationale
      </th>
    </tr>
    <th>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>